.customerOrder_main{
    width: 100dvw;
    overflow-x: hidden;
    min-height:100dvh;
}

.customerOrder_main_content{
    padding:var(--padding_main);
    width: 100%;
    height: var(--admin_home_height);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    
}

.customerOrder_main_content_h1{
    margin-top: 2vh;
    text-align: center;
}

.customerOrder_main_content_section_main{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-bottom: 2rem;
}

.customerOrder_main_content_section_main_div_main{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
    background-color: rgba(225, 223, 223, 0.218);
    border:2px solid rgba(220, 219, 219, 0.477);
    padding: 2rem 5rem;
}

.section_main_div_main_sec-1{
    display: flex;
    justify-content: space-between;
}

.main_sec-1_wrapper_1{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.main_sec-1_wrapper_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

.main_sec-1_wrapper_2>button{
    padding:0.5em 1em;
    font-size: 1.1rem;
    color:red;
    border:2px solid red;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.5s ease-in-out,background-color 0.5s ease-in-out;
    &:hover{
        background-color: red;
        color: #fff;
    }
}
.section_main_div_main_sec-2{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    &:hover{
        background-color:rgba(230, 230, 230, 0.619);

    }
}
.section_main_div_main_sec-2 > img{
    max-height: 100%;
    width: 8vw;
}

#main_sec-2_title_para{
    width: 20%;
}

#main_sec-2_qty_para{
    width: 10%;
}

#main_sec-2_deliverStatus_para{
    width: 10%;
    text-transform: capitalize;
}

#main_sec-2_price_para{
    width: 15%;
    text-align: right;
    margin-right: 2vw;   /* hard coded*/
}

.ongoing_status{
    color: rgb(241, 217, 8);
}

.deliverd_status{
    color: green;
}
