.left_align{
    width: 100%;
    text-align: left;
}

.item_main{
    /* width: 25vw;
    height: 55vh; */
    width: 12vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1vh;
    align-items: center;
    gap: 1vh;
    border: 2px solid rgba(166, 164, 164, 0);
    overflow: hidden;
    transition: border-color 0.5s ease-in-out;
   
}

.item_main:hover{
    & .item_main_button{
        transform: translateY(0px);
    }

    border-color: rgb(191, 189, 189);
}

#item_img{
    max-width:100%; 
    /* height: 50%; */
    height: 20vh;
}


.item_main_wrapper{
    width:60%;
    /* flex: 1.4; */
    height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5vh;
}

.item_main_span{
    max-width: 100%;
    height: 1rem;
    text-transform: capitalize;
    font-size: 0.8rem;
    overflow: hidden;
    
}

.item_main_h3{
    
    color: rgb(230, 76, 29);
}

.item_main_h4{
    font-weight: unset;
    font-size: 0.95rem;
}

.item_main_button{
    /* font-size: 1.2rem; */
    font-size: 1rem;
    padding:0.2em 0.5em;
    width: 100%;
    border-radius:5PX;
    color: #fdfdfd;
    background-color: rgba(0, 0, 0, 0.959);
    cursor: pointer;
    border: transparent;
    transition: background-color 0.5s ease-in-out,transform 0.5s ease-in-out;
    text-transform: capitalize;
    &:active{
        background-color: red; 
    }

    &:hover{
        background-color: rgb(251, 97, 1);
    }
    transform: translateY(100px);
 
}
