.error_main{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.171);
    z-index: 7000000 !important;
   
}

.error_body{
    /* min-width: 30%; */
    /* min-height: 30%; */
    padding: 5vh 5vw;
    background-color: rgb(54, 83, 169);
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.error_body > p{
    font-size: 1.2rem;
    margin-bottom: 1em;
    text-transform: capitalize;
    color: #fff;
}

.error_body > section{
    margin-top: 5vh;
    display: flex;
    gap: 1vw;
}

.error_body > section > button{
    font-size: 1.1rem;
    padding: 0.3em 1.5em;
    border: transparent;
    cursor: pointer;
    border-radius: 5px;
    /* color: #020202; */
}

#ER_btn1{
    /* background-color: rgb(15, 221, 15);
    background-color: black; */
   
}
#ER_btn2{
    /* background-color: rgb(222, 218, 218); */
}